<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hometown</title>
        <meta charset="UTF-8">
        <!-- RWD 設置 解析度調整       -->
        <meta nam="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 載入網站小圖       -->
        <link rel="shortcut icon" href="/static/images/EwBpRdVd36_1.ico" type="/static/images/x-icon">
        <!-- 設置瀏覽器搜尋 網頁關鍵字及網頁內容   -->
        <meta name="keywords" content="">
        <meta name="description" content="">
        <!-- 引用外部 js 腳本   -->
        <!--  1. jquery.js      -->
        <script src="/static/js/jquery-1.11.3.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <!--  2. jqeury.easyfader.min.js (Banner)      -->
        <script src="/static/js/jquery.easyfader.min.js"></script>
        <!--  3. user 互動js效果      -->
        <script src="/static/js/common.js"></script>
        {#    4.check_login 登入  #}
        <script src="/static/js/check_login.js"></script>
        {#     5. user_track_goods_confirm #       #}
        <script src="/static/js/track_goods_confirm.js"></script>

        <!-- 引用外部css腳本       -->
        <!--  1. index 基本設定樣式 css       -->
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <!--  2. mobile 行動裝置設定樣式css      -->
        <link rel="stylesheet" type="text/css" href="/static/css/mobile.css">
        {#  其他頁面載入 各自 css 樣式  #}
        {% block other_css %}
        {% endblock %}
    </head>
<body>
    {#  註冊成功跳轉首頁  #}
    {% if msg %}
        <script type="text/javascript">
            alert('信箱註冊成功! 歡迎瀏覽商城!')
            {# 跳轉回首頁 #}
            location.href = '/'
        </script>
    {% endif %}
    <!--Shop_Weapper    -->
    <div id = "wrapper" class="wrapper">
    <!-- ========================Shop Nav  (PC Nav , mobile Nav)  begin  =================   -->
        <div id="header">
            <!-- container       -->
            <div class="container">
            <!--  ============= Pc Nav 導航 begin ========================        -->
                <div id="nav">
                    <!--    導航頁面 Logo  (Hometown)                -->
                    <h1 class="active"><a href="/">Hometown</a></h1>
                    <!--  左導航  left-nav ( Woman 、 Men、 Kid、 Baby、 Sport )        -->
                    <ul class="left-nav">
                        <!--  加入 b  標籤區隔導航功能-->
                        <li>
                            <a href="/Women">Women</a>
                        </li>
                        <li>
                            <b></b>
                            <a href="/Men">Men</a>
                        </li>
                        <li>
                            <b></b>
                            <a href="/Kid">Kid</a>
                        </li>
                        <li>
                            <b></b>
                            <a href="/Baby">Baby</a>
                        </li>
                        <li>
                            <b></b>
                            <a href="/Sport">Sport</a>
                        </li>
                    </ul>
                    <!--  右導航 right-nav  (Login、Register、會員留言、 商城說明、 Search)  -->
                    <ul class="right-nav">
                    {#   如果未點選記住密碼, 顯示登入狀態               #}
{#                        <li>#}
{#                            <span class="user_login">歡迎</span>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="/login/sign_out">登出</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <b></b>#}
{#                            <a href="#">會員中心</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <b></b>#}
{#                            <a href="/login">Login</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <b></b>#}
{#                            <a href="/register">Register</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <b></b>#}
{#                            <a href="/shop_gbook">會員留言</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <b></b>#}
{#                            <a href="/shop_description">商城說明</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <b></b>#}
{#                            <a href="/shop_cart">#}
{#                                <img src="/static/images/shopingcart1.png">#}
{#                            </a>#}
{#                        </li>#}
{#                        <div class="search">#}
{#                            <li>#}
{#                                <form>#}
{#                                    <input name="Search" placeholder="Search" type="text">#}
{#                                    <input type="submit" value="">#}
{#                                </form>#}
{#                            </li>#}
{#                        </div>#}
                    </ul>
                </div>
            <!--==============Pc Nav 導航  end=================-->
            </div>

            <!--============Mobile Nav 導航  begin =============-->
            <!--    Mobile - nav   (Logo(Hometowm)、 點擊展開選單漢堡盒)      -->
            <div id="mobile-nav">
                <h2>
                    <a href="/" class="mlogo">
                        Hometown
                    </a>
                    <span class="navicon">
                    </span>
                </h2>
            <!--    Mobile - nav 點擊展開後的選單(Login、Register、cart、Search) 、 (Woman、man、Kid、baby、sport、會員留言、商城說明)            -->
                <dl class="list_dl">
            <!--  1. Search-->
                    <dt class="mobile_search">
                        <form class="mobile_search_form">
                            <input type="text" id="mobile_Search_input" placeholder="Search">
                            <input type="submit" value=" " id="mobile_Search_submit">
                        </form>
                    </dt>
            <!--  2. Login、Register、cart -->
                    <dt id="mobile_login_register_cart" class="list_dt">
                        <div>
                            <p>
                                <a href="login.html">
                                    Login
                                </a>
                                <b></b>
                                <a href="register.html">
                                    Register
                                </a>
                                <b></b>
                                <a href="shop_cart.html">
                                    <img src="/static/images/shopingcart1.png">
                                </a>
                            </p>
                        </div>
                    </dt>
            <!--  3. Woman (New Arrival、Top、Coats & jackets、Clothes、Trousers、Blouse)  -->
                    <dt class="list_dt">
                        <a href="/Women">Woman</a>
                        <span class="mobile_traingle"></span>
                    </dt>
                        <dd class="list_dd">
                            <ul>
                                <li><a href="#">New &nbsp Arrival</a>
                                <li><a href="#">Top</a>
                                <li><a href="#">Coats &nbsp & &nbsp jackets</a>
                                <li><a href="#">Clothes</a>
                                <li><a href="#">Trousers</a>
                                <li><a href="#">Blouse</a>
                            </ul>
                        </dd>
            <!--  4. Man (New Arrival、Top、Coats & jackets、Clothes、Trousers、Blouse)  -->
                    <dt class="list_dt">
                        <a href="/Men">Men</a>
                        <span class="mobile_traingle"></span>
                    </dt>
                        <dd class="list_dd">
                            <ul>
                                <li><a href="#">New &nbsp Arrival</a>
                                <li><a href="#">Top</a>
                                <li><a href="#">Coats &nbsp & &nbsp jackets</a>
                                <li><a href="#">Clothes</a>
                                <li><a href="#">Trousers</a>
                                <li><a href="#">shirt</a>
                            </ul>
                        </dd>
            <!--    5. Kid (New Arrival、Top、Coats & jackets、Clothes、Trousers、Blouse)                -->
                    <dt class="list_dt">
                        <a href="/Kid">Kid</a>
                        <span class="mobile_traingle"></span>
                    </dt>
                        <dd class="list_dd">
                            <ul>
                                <li><a href="#">New &nbsp Arrival</a>
                                <li><a href="#">Top</a>
                                <li><a href="#">Coats &nbsp & &nbsp jackets</a>
                                <li><a href="#">Clothes</a>
                                <li><a href="#">Trousers</a>
                                <li><a href="#">shirt</a>
                            </ul>
                        </dd>
            <!--    6.  Baby (New Arrival、Top、Coats & jackets、Clothes、Trousers、Blouse)                -->
                    <dt class="list_dt">
                        <a href="/Baby">Baby</a>
                        <span class="mobile_traingle"></span>
                    </dt>
                       <dd class="list_dd">
                            <ul>
                                <li><a href="#">New &nbsp Arrival</a>
                                <li><a href="#">Top</a>
                                <li><a href="#">Coats &nbsp & &nbsp jackets</a>
                                <li><a href="#">Clothes</a>
                                <li><a href="#">Trousers</a>
                                <li><a href="#">shirt</a>
                            </ul>
                        </dd>
            <!--    7. Sport (New Arrival、Top、Coats & jackets、Clothes、Trousers、Blouse)                -->
                    <dt class="list_dt">
                        <a href="/Sport">Sport</a>
                        <span class="mobile_traingle"></span>
                    </dt>
                       <dd class="list_dd">
                            <ul>
                                <li><a href="#">New &nbsp Arrival</a>
                                <li><a href="#">Top</a>
                                <li><a href="#">jackets</a>
                                <li><a href="#">Clothes</a>
                                <li><a href="#">Trousers</a>
                            </ul>
                        </dd>
            <!--    8.商城留言                -->
                    <dt class="list_dt"><a href="shop_gbook.html">會員留言</a>
            <!--    9.商城說明                -->
                    <dt class="list_dt"><a href="shop_description.html">商城說明</a></dt>
                </dl>
            </div>
            <!--============Mobile Nav 導航  end =============-->
        </div>
    <!-- ========================Shop Nav  (PC Nav , mobile Nav)  end  =================   -->

        {% block wrapper_main %}
    <!--  =======================Shop Banner begin===========================     -->
        <!-- Banner 橫幅 透過 easyfader 製作-->
        <div class="banner_wrap">
            <div id="banner" class="fader">
                {#   1.banner 的內容(圖片+超鏈結) 會由後端的數據(前後端分離,將數據填入其中)               #}
                <!-- 2. 鼠標移入,指引上下張 Banner 點選               -->
                <div class="fader_controls">
                    <div class="page prev" data-target="prev">&lsaquo;</div>
                    <div class="page next" data-target="next">&rsaquo;</div>
                <!-- 3.顯示小原點,Banner 展示的第幾張  -->
                    <ul class="pager_list"></ul>
                </div>
            </div>
        </div>
        <!--  =======================Shop Banner end===========================     -->
        <!-- 設置水平線 hr 清除浮動       -->
        <hr>

    <!--  Top 商品主體(只擺放 6 張)      -->
        <!-- ======================= goods_main_wrapper  begin =========================  -->
        <div id="main_wrapper">
            <!-- 設置商品類別 woman、men、kid、Baby、sport -->
            <!-- 設置div標籤           -->
            {# 透過前後端分離 (將後端查詢的數據 加載到 頁面中,循環遍歷出元素 呈現商品頁面)            #}
            <!-- Woman       -->
{#            <div class="item">#}
{#                <p class="goods_class">#}
{#                    <b>Woman's</b>#}
{#                    <button class="shop_more">#}
{#                        <a href="/woman">SHOP WOMEN's</a>#}
{#                    </button>#}
{#                </p>#}
{#            </div>#}
{#            <ul>#}
{#                <!-- Woman top 商品1   設置第一章商品圖 class=goods_1 屬性 調整邊聚             -->#}
{#                <li>#}
{#                    <p>#}
{#                        <a href="/shop_goods_detail">#}
{#                            <img src="/static/images/woman_top_1.png">#}
{#                        </a>#}
{#                    </p>#}
{#                <!--  設置商品敘述內容 div id="content" -->#}
{#                <div class="content">#}
{#                <!-- 添加商品點擊添加進購物車連接                   -->#}
{#                    <a href="#">#}
{#                        <img src="/static/images/shopingcart1.png">#}
{#                    </a>#}
{#                    <!-- 設置愛心樣式                   -->#}
{#                    <div class="heart">#}
{#                        <span class="heart1"></span>#}
{#                        <span class="heart2"></span>#}
{#                    </div>#}
{#                    <p>#}
{#                        <b>Long-Sleeve Seamless Bodysuit</b>#}
{#                    </p>#}
{#                    <span>NT$:1,190</span>#}
{#                </div>#}
{#                </li>#}
{#            </ul>#}
{#            <hr>#}
        </div>
        <!-- ======================= goods_main_wrapper  end =========================  -->
            {# 透過 ajax 向後端請求數據 完整 index.html 首頁頁面#}
{% endblock %}
    </div>
    <!-- =========================== footer begin============================-->
        <footer id="footer">
            <div>
                <p>
                    &copy; 2021 by Allenhsu All rights reserved
                </p>
                <ul>
                    <li>
                        <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter" target="_blank">
                            <img src="/static/images/icons/icon-twitter.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook" target="_blank">
                            <img src="/static/images/icons/icon-facebook.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus" target="_blank">
                            <img src="/static/images/icons/icon-googleplus.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="http://pinterest.com/fwtemplates/" id="pinterest" target="_blank">
                            <img src="/static/images/icons/icon-pinterest.jpg">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    <!-- =========================== footer end==============================-->

    <!-- =========== 設置 介面滑動顯示 返回頂部 begin ==================   -->
    <!-- 返回頂部   -->
    <a href="index.html" class="cd-top">Top</a>
    <!-- =========== 設置 介面滑動顯示 返回頂部 begin ==================   -->
</body>
<script type="text/javascript">
    {# 加載葉面資訊數據   #}
    function loadgoods_data() {
        $.get('/ajax_index_data',function (data) {
            var index_goods_data = data;

            {# 1.設置 show_banner 來將 要插入的商品循環內容 加入到 show_banner 中#}
            var show_banner = '';
            {# 2.設置 show_goods 來將 要插入的商品數據循環內容 加入到 show_goods#}
            var show_goods = '';

            $.each(index_goods_data,function (index,obj) {
                var Banner = JSON.parse(obj.banner);
                var Goods_info = JSON.parse(obj.goods);
                var Goods_Type = JSON.parse(obj.type);

                {# 1. 處理 banner 的 前端接收的數據 頁面 #}
                {# 先將 banner 選單加入到 元素中#}
                $.each(Banner,function (index,obj) {
                    show_banner += '<a href="/' + obj.fields.title +'">'
                        show_banner += '<img class="slide" src="/' + obj.fields.Banner_Url + '">'
                    show_banner += '</a>'

                })

                {# 2. 處理 Type 和 goods 的內容   #}
                {#  1. 處理 title (type 的顯示)    #}
                show_goods += "<div class='item'>"
                    show_goods += "<p class='goods_class'>"
                        show_goods += "<b>" + Goods_Type.title +"'s" + "</b>"
                        show_goods += "<button class='shop_more'>"
                            show_goods += "<a href='/" + Goods_Type.title + "'>" + "SHOP   " + (Goods_Type.title).toUpperCase() + "'s"
                            show_goods += "</a>"
                        show_goods += "</button>"
                    show_goods += "</p>"
                show_goods += "</div>"
                {#  2. 處理 主商品表中 透過後端查詢的data order_by('-heart') 愛心由大到小 的 前6個商品    #}
                show_goods += '<ul>'
                $.each(Goods_info,function (index,obj) {
                    show_goods += '<li>'
                        show_goods += '<p>'
                            {# 待修改,後面需要傳入參數(商品詳情)#}
                            show_goods += '<a href="/shop_goods_detail?GOODS_ID=' + obj.pk+'">'
                                show_goods += '<img src="/' + obj.fields.Images_url +'">'
                            show_goods += '</a>'
                        show_goods += '<div class=content>'
                            {# 購物車(待修改 需要將值新增到 購物車中)#}
                            show_goods += '<a href="/shop_goods_detail?GOODS_ID='+obj.pk + '">'
                                show_goods += '<img src="/static/images/shopingcart1.png">'
                            show_goods += '</a>'
                            show_goods += '<div class="heart">'
                                show_goods += '<span class="heart1">' + '</span>'
                                show_goods += '<span class="heart2">' + '</span>'
                            show_goods += '</div>'
                                show_goods += '<p class="goods_title">'
                                    show_goods += '<b>' + obj.fields.title + '</b>'
                                show_goods += '</p>'
                                show_goods += '<span class="goods_price">' +'NT$ : '+ parseInt(obj.fields.price).toLocaleString() + '</span>'
                        show_goods += '</div>'
                        {#  商品 id #}
                        show_goods += '<input type="hidden" value=' + obj.pk + ' ' + 'name="goods_id">'
                        show_goods += '<input type="hidden" value=' + obj.fields.Images_url + ' ' + 'name="goods_url">'
                    show_goods += '</li>'
                })
                show_goods += '</ul>'
                show_goods += '<hr>'
            })
            {#  1.將 banner 內容 插入 div id="banner" class="fader" 中 #}
            {#   利用 prepend 將 banner 超鏈結內容 插入到開頭        #}
            $('#banner').prepend(show_banner);
            $('#banner').easyFader();

            {# 2. 將 goods 頁面 新增到 main_wrapper 中 #}
            $('#main_wrapper').html(show_goods);
        },'json')
    }


    {# 調用加載頁面的函數#}
    loadgoods_data();

    {# 點選 記住密碼#}
    check_login();



    {# 修改 點擊愛心 #}
    {# 因為是動態加載, 所以要將 main_wrapper 原本的父元素 下的查找 才能夠讓點擊事件觸發 #}
    $('#main_wrapper').on('click','.heart',function () {
        {# 設置 $(this) 關鍵字,讓下面做判斷#}
        let click_heart = $(this)
        {# 判斷用戶是否登入#}
        $.get('/login/check_login/',function (data) {
            if(data.Login_Status==1){

                {# 獲取點擊的商品id#}
                let click_heart_id = click_heart.parent().next()
                let click_heart_img_url = click_heart_id.next()

                {# 點擊後出現,確認框 (根據後端傳的 data.msg 值, 讓表單控件去判斷是移除還是新增)#}

                let params = {
                    'goods_id': click_heart_id.val(),
                }

                {# 透過 $.get 方式,傳數據給後端 #}
                $.get('/login/api_track_goods',params,function (data) {
                    alert2(click_heart_img_url.val(),data.msg)
                },'json')

                {# 商品id,點擊後展開 open 樣式 #}
                click_heart.attr('class') == 'heart' ?
                    click_heart.addClass('click'):
                    click_heart.removeClass('click');

                click_heart.attr('class') == 'heart click' ?
                click_heart.children().css('background','red'):
                click_heart.children().css('background','rgb(54, 64, 71)');





            }else if(data.Login_Status==0){
                alert('請先登入!才能將商品加入追蹤名單!');
                location.href = '/login'
            }
        },'json')

    })

</script>
</html>

