{# 繼承 index 模板 #}
{% extends 'index.html' %}

{# 設置 index 模板 可修改的樣式 css #}
{% block other_css %}
<!-- 引用外部 擺放 goods_main.css        -->
<link rel="stylesheet" type="text/css" href="/static/css/goods_main.css">
<!-- 引用外部 mobile_goods 樣式       -->
<link rel="stylesheet" type="text/css" href="/static/css/mobile_goods.css">
{# 加載 alery.js 自定義彈框 #}
<script src="/static/js/alert.js"></script>
{% endblock %}


{# 設置 man 主頁 主體內容和 首頁修改#}
{% block wrapper_main %}
<!-- 用戶點選路徑        -->
<div id="goods_title">
    <a href="/Baby">Baby's</a>
</div>
<!-- baby 商品主體 -->
<div id="goods_main">
<!-- =========== 類型列表 begin =============-->
    <div id="goods_main_type">
        <dl class="goods_list_dl">
            <!-- =======New Arrival===========-->
            <dt class="goods_list_dt" onclick="New_arrival()">
                <a href="javascript:;" class="goods_change">New Arrival</a>
                <!-- 商品列表三角標    -->
                <div class="triangle"></div>
            </dt>

            <!-- =======New Arrival  (boy、girls) ===========-->
            <dd class="goods_list_dd" style="display: none">
            <!--         boy's                     -->
                <ul class="gender_type">
                    <li>
                        boy's
                        <div class="triangle"></div>
                    </li>
                </ul>
                <ul class="gender_type_kind" style="display: none">
                    <li>
                        <a href="javascript:;" class="boy_new_arrival">Coats & Jackets</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="boy_new_arrival">Clothes</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="boy_new_arrival">Trousers</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="boy_new_arrival">Shirt</a>
                    </li>
                </ul>
                <!--     girl's                      -->
                <ul class="gender_type">
                    <li>
                        <span>girl's</span>
                        <div class="triangle"></div>
                    </li>
                </ul>
                <ul class="gender_type_kind" style="display: none">
                    <li>
                        <a href="javascript:;" class="girl_new_arrival">Coats & Jackets</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="girl_new_arrival">Clothes</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="girl_new_arrival">Trousers</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="girl_new_arrival">Shirt</a>
                    </li>
                </ul>
            </dd>

            <!--========Top ==========-->
            <dt class="goods_list_dt" onclick="Top()">
                <a href="javascript:;" class="goods_change">Top</a>
                <!-- 商品列表三角標    -->
                <div class="triangle"></div>
            </dt>

            <!-- =======Top (boy、girls) ===========-->
            <dd class="goods_list_dd" style="display: none">
            <!--         boy's                     -->
                <ul class="gender_type">
                    <li>
                        boy's
                        <div class="triangle"></div>
                    </li>
                </ul>
                <ul class="gender_type_kind" style="display: none">
                    <li>
                        <a href="javascript:;" class="boy_top">Coats & Jackets</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="boy_top">Clothes</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="boy_top">Trousers</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="boy_top">Shirt</a>
                    </li>
                </ul>
                <!--     girl's                      -->
                <ul class="gender_type">
                    <li>
                        girl's
                        <div class="triangle"></div>
                    </li>
                </ul>
                <ul class="gender_type_kind" style="display: none">
                    <li>
                        <a href="javascript:;" class="girl_top">Coats & Jackets</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="girl_top">Clothes</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="girl_top">Trousers</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="girl_top">Shirt</a>
                    </li>
                </ul>
            </dd>


            <!-- coat & jackets -->
            <dt class="goods_list_dt" onclick="Coats_Jackets()">
                <a href="javascript:;" class="other_goods">Coats & Jackets</a>
                <div class="triangle"></div>
            </dt>
            <!--  coat & jackets - boy、girl  -->
            <dd class="goods_list_dd_coat_jackets" style="display: none">
                <ul>
                    <li><a href="javascript:;">boy's</a></li>
                    <li><a href="javascript:;">girl's</a></li>
                </ul>
            </dd>

            <!--  clothes-->
            <dt class="goods_list_dt" onclick="Clothes()">
                <a href="javascript:;" class="other_goods">Clothes</a>
                <div class="triangle"></div>
            </dt>
            <!--  clothes - boy、girl  -->
            <dd class="goods_list_dd_clothes" style="display: none">
                <ul>
                    <li><a href="javascript:;">boy's</a></li>
                    <li><a href="javascript:;">girl's</a></li>
                </ul>
            </dd>

            <!--  trousers-->
            <dt class="goods_list_dt" onclick="Trousers()">
                <a href="javascript:;" class="other_goods">Trousers</a>
                <div class="triangle"></div>
            </dt>
            <!--  trousers - boy、girl  -->
            <dd class="goods_list_dd_trousers" style="display: none">
                <ul>
                    <li><a href="javascript:;">boy's</a></li>
                    <li><a href="javascript:;">girl's</a></li>
                </ul>
            </dd>

            <!--  Shirt -->
            <dt class="goods_list_dt" onclick="Shirt()">
                <a href="javascript:;" class="other_goods">Shirt</a>
                <div class="triangle"></div>
            </dt>
            <!--  Shirt - boy、girl  -->
            <dd class="goods_list_dd_shirt" style="display: none">
                <ul>
                    <li><a href="javascript:;">boy's</a></li>
                    <li><a href="javascript:;">girl's</a></li>
                </ul>
            </dd>
        </dl>
        <hr style="width: 100%;color: #4b4747; margin-bottom: 15px;">
        <b>YOU CAN FILTER GOODS</b>
        <!--    user_filter_ goods            -->
        <div class="filter-wrapper">
            <div class="filter-container">
                <div class="filters">
                    <!-- 1. sort by -->
                    <div class="filters_to_goods_Sort">
                        <button id="sort_by">
                            <span class="h3">Sort By</span>
                            <div class="icon" style="float: right;">
                                <span class="filter_icon"></span>
                            </div>
                            <div class='user_filter_goods'>
                            </div>
                        </button>
                            <div class="sort_choose">
                                <form action="" method="post" id="sort_by_frm">
                                    <div class="radio-group">
                                        <input type='radio' name='goods_filter' class="radio_input" value="Best Match" id="1">
                                        <label for="1" class="radio-label"><span class="radio-button"></span><u>Best Match</u></label>
                                    </div>
                                    <div class="radio-group">
                                        <input type='radio' name='goods_filter' class="radio_input" value='LowtoHigh' id="2">
                                        <label for="2" class="radio-label"><span class="radio-button"></span><u>Price:Low to High</u></label>
                                    </div>
                                    <div class="radio-group">
                                        <input type='radio' name='goods_filter' class="radio_input" value='HightoLow' id="3">
                                        <label for="3" class="radio-label"><span class="radio-button"></span><u>Price:High to Low</u></label>
                                    </div>
                                    <div class="radio-group">
                                        <input type='radio' name='goods_filter' class="radio_input" value='Newest' id="4">
                                        <label for="4" class="radio-label"><span class="radio-button"></span><u>Newest</u></label>
                                    </div>
                                </form>
                            </div>
                    </div>
                    <!--  2. Size and Color                      -->
                    <div class="filters_to_goods">
                        <button id="size">
                            <span class="h3">Size</span>
                            <div class="icon" style="float: right;">
                                <span class="filter_icon"></span>
                            </div>
                            <div class='user_filter_goods'>
                            </div>
                        </button>
                        <div class="other_choose">
                            <!-- filter size -->
                            <ul class="size_ul">
                                <li>XXS</li>
                                <li>XS</li>
                                <li>S</li>
                                <li>M</li>
                                <li>L</li>
                                <li>XL</li>
                                <li>XXL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filters_to_goods">
                        <button id="color">
                            <span class="h3">Color</span>
                            <div class="icon" style="float: right;">
                                <span class="filter_icon"></span>
                            </div>
                            <div class='user_filter_goods'>
                            </div>
                        </button>
                        <div class="other_choose" style="height: 90px">
                            <!-- filter color -->
                            <ul class="color_ul">
                                <li>Black</li>
                                <li>Blue</li>
                                <li>Brown</li>
                                <li>Green</li>
                                <li>Grey</li>
                                <li>Orange</li>
                                <li>Red</li>
                                <li>White</li>
                                <li>Yellow</li>
                            </ul>
                        </div>
                    </div>
                    <!-- 3. clear filter -->
                    <div class="clear_all_filter" onclick="clear_filter()">
                        <button id="Clear-all-filter">Clear all filter</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- =========== 類型列表 end =============-->
<!-- user-cart-box , Your cart 樣式   ==================begin===============   -->
<div class="user-cart-box">
        <h4>Your Cart</h4>
    <!--  設置購物車內的清單          -->
    <div class="user-cart-list">
        {#  購物車商品清單      #}
        <div class="user_cart_goods">
            {#  加入 csrf_token 讓 post 通過請求 user_cart 的數量, 1. 第一個 csrf_token 是加載數據的post 請求頭 #}
            {% csrf_token %}
            <ul class="insert_cart_goods" id="insert_cart_goods">
                {#  2. 刪除數據 的請求頭 #}
                {% csrf_token %}
            </ul>
        </div>
    </div>
    <!--   結帳  -->
    <div id="buy_goods" style="display: none">
        <button><a href="/shop_cart">Checkout</a></button>
    </div>
    <!-- user cart-list  open and close       -->
    <div class="open-close">
        <span class="open-triangle"></span>
    </div>
</div>
<!-- user-cart-box , Your cart 樣式   ==================end===============   -->

{#  goods 商品頁面  #}
    <div id="goods">
    </div>
<hr>
<script type="text/javascript">
    {# load 所有的 商品數據資訊    #}
    function load_all_goods_data() {
        var show_baby = '';
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'ALL_GOODS'},function (data) {
            let goods_msg_json = JSON.parse(data.goods_msg);
            show_baby += load_goods_template(goods_msg_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);
        },'json')
    }
    load_all_goods_data()


{#=======================================================#}
{# 2.根據用戶點擊查詢,做不同的頁面數據呈現   #}
{# 設置New_arrival_goods_list 變量來,將後續點擊的數據,做頁面呈現(coat...等)#}
    var New_arrival_goods_list = [];
{#  1. New_arrival 項目所有商品  #}
    function New_arrival() {
        var show_baby = '';
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'New_Arrival'},function (data) {
            New_arrival_goods_list = data;

            let New_arrival_goods_json = JSON.parse(data.goods_msg)

            show_baby += load_goods_template(New_arrival_goods_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);

            {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
            if(data.login_status==1){
            {# 將 login 的 追蹤清單訊息載入#}
                setTimeout(function () {
                    track_goods_msg(data.login_track_goods)
                },50)
            }

        },'json')
        $('#goods_title a').text("Baby's" + ' > New Arrival')
    }

    {# boy #}
    {# 點擊 boy_new_arrival 商品頁面變化#}
    $('.gender_type_kind .boy_new_arrival').click(function () {
        var show_baby = '';
        show_baby += '<ul>';

        let New_arrival_goods_json = JSON.parse(New_arrival_goods_list.goods_msg)
        {# 點擊 new_arrival 子列表 篩選 boy's 商品   #}
        if($(this).text()=='Coats & Jackets'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==1 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Clothes'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==2 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Trousers'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==3 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Shirt'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==5 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);

        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(New_arrival_goods_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(New_arrival_goods_list.login_track_goods)
            },50)
        }


    })
    {# girl   #}
    $('.gender_type_kind .girl_new_arrival').click(function () {
        var show_baby = '';
        show_baby += '<ul>';

        let New_arrival_goods_json = JSON.parse(New_arrival_goods_list.goods_msg)
        {# 點擊 new_arrival 子列表 篩選 boy's 商品   #}
        if($(this).text()=='Coats & Jackets'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==1 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Clothes'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==2 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Trousers'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==3 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Shirt'){
            $.each(New_arrival_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==5 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);


        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(New_arrival_goods_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(New_arrival_goods_list.login_track_goods)
            },50)
        }
    })

{#======================================================================================#}

{#  2. Top 項目的所有商品 #}
    {# 設置Tops_goods_list 變量來,將後續點擊的數據,做頁面呈現(coat...等)#}
    var Top_goods_list = [];
    function Top() {
        var show_baby = ''
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'Top'},function (data) {
            Top_goods_list = data;
            let goods_msg_json = JSON.parse(data.goods_msg)
            show_baby += load_goods_template(goods_msg_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);


            {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
            if(data.login_status==1){
            {# 將 login 的 追蹤清單訊息載入#}
                setTimeout(function () {
                    track_goods_msg(data.login_track_goods)
                },50)
            }

        },'json')
        $('#goods_title a').text("Baby's" + ' > Top');
    }

    {# boy #}
    {# 點擊 boy_new_arrival 商品頁面變化#}
    $('.gender_type_kind .boy_top').click(function () {

        let Top_goods_json = JSON.parse(Top_goods_list.goods_msg)
        var show_baby = '';
        show_baby += '<ul>';
        {# 點擊 new_arrival 子列表 篩選 boy's 商品   #}
        if($(this).text()=='Coats & Jackets'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==1 && obj.fields.goods_gender=='M'){
                   show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Clothes'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==2 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Trousers'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==3 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Shirt'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==5 && obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);

        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(Top_goods_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(Top_goods_list.login_track_goods)
            },50)
        }

    })
    {# girl   #}
    $('.gender_type_kind .girl_top').click(function () {
        let Top_goods_json = JSON.parse(Top_goods_list.goods_msg)
        var show_baby = '';
        show_baby += '<ul>';
        {# 點擊 new_arrival 子列表 篩選 boy's 商品   #}
        if($(this).text()=='Coats & Jackets'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==1 && obj.fields.goods_gender=='F'){
                   show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Clothes'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==2 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Trousers'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==3 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).text()=='Shirt'){
            $.each(Top_goods_json,function (index,obj) {
                if(obj.fields.GoodsType2==5 && obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);

        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(Top_goods_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(Top_goods_list.login_track_goods)
            },50)
        }
    })

{#============================================================================#}

{#處理 其他商品 (除了新品和熱門商品的商品) #}

{#  1.Coat_Jacket_list  #}
    var Coats_Jackets_list = [];

    function Coats_Jackets() {
        var show_baby = ''
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'Coat_Jackets'},function (data) {
            Coats_Jackets_list = data;
            let Coats_Jacket_json = JSON.parse(data.goods_msg)
            show_baby += load_goods_template(Coats_Jacket_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);


            {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
            if(data.login_status==1){
            {# 將 login 的 追蹤清單訊息載入#}
                setTimeout(function () {
                    track_goods_msg(data.login_track_goods)
                },50)
            }

        },'json')
        $('#goods_title a').text("Baby's" + ' > Coats & Jackets');
    }
{# 點擊 性別篩選 1.boy's  2.girls #}
    $('.goods_list_dd_coat_jackets ul li').click(function () {
        var show_baby = '';
        show_baby += '<ul>'

        let Coat_Jackets_json = JSON.parse(Coats_Jackets_list.goods_msg)
        {# 點擊 男生 boy's#}
        if($(this).children().text()=="boy's"){
            $.each(Coat_Jackets_json,function (index,obj) {
                if(obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }else if($(this).children().text()=="girl's"){
            $.each(Coat_Jackets_json,function (index,obj) {
                if(obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj);
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);

        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(Coats_Jackets_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(Coats_Jackets_list.login_track_goods)
            },50)
        }
    })
{#======================================================================#}


{#  2.Clothes_list   #}
    var Clothes_list = [];
    {# 4. Clothes#}
    function Clothes() {
        var show_baby = ''
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'Clothes'},function (data) {
            Clothes_list = data;

            let Clothes_json = JSON.parse(data.goods_msg)
            show_baby += load_goods_template(Clothes_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);

            {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
            if(data.login_status==1){
            {# 將 login 的 追蹤清單訊息載入#}
                setTimeout(function () {
                    track_goods_msg(data.login_track_goods)
                },50)
            }

        },'json')
        $('#goods_title a').text("Baby's" + " > Clothes");
    }

    $('.goods_list_dd_clothes ul li').click(function () {
        var show_baby = '';
        show_baby += '<ul>'

        let Clothes_json = JSON.parse(Clothes_list.goods_msg)
        {# 點擊 男生 boy's#}
        if($(this).children().text()=="boy's"){
            $.each(Clothes_json,function (index,obj) {
                if(obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj)
                }
            })
        }else if($(this).children().text()=="girl's"){
            $.each(Clothes_json,function (index,obj) {
                if(obj.fields.goods_gender=='F'){
                   show_baby += load_goods_chirdren_template(obj)
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);

        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(Clothes_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(Clothes_list.login_track_goods)
            },50)
        }
    })

{#======================================================================#}

{# 3. Trousers #}
    var Trousers_list = [];
    function Trousers() {
        var show_baby = ''
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'Trousers'},function (data) {
            Trousers_list = data;

            let Trousers_json = JSON.parse(data.goods_msg);
            show_baby += load_goods_template(Trousers_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);

            {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
            if(data.login_status==1){
            {# 將 login 的 追蹤清單訊息載入#}
                setTimeout(function () {
                    track_goods_msg(data.login_track_goods)
                },50)
            }

        },'json')
        $('#goods_title a').text("Baby's" + ' > Trousers');
    }

    $('.goods_list_dd_trousers ul li').click(function () {
        var show_baby = '';
        show_baby += '<ul>'

        let Trousers_json = JSON.parse(Trousers_list.goods_msg)
        {# 點擊 男生 boy's#}
        if($(this).children().text()=="boy's"){
            $.each(Trousers_json,function (index,obj) {
                if(obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj)
                }
            })
        }else if($(this).children().text()=="girl's"){
            $.each(Trousers_json,function (index,obj) {
                if(obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj)
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);

        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(Trousers_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(Trousers_list.login_track_goods)
            },50)
        }
    })

{#=========================================================================#}

    {# 6. Shirt #}
    var Shirt_list = [];
    function Shirt() {
        var show_baby = ''
        show_baby += '<ul>'
        $.get('/Baby/ajax_baby_goods_info',{'GOODS':'Shirt'},function (data) {
            Shirt_list = data;

            let Shirt_json = JSON.parse(data.goods_msg);
            show_baby += load_goods_template(Shirt_json);
            show_baby += '</ul>'
            $('#goods').html(show_baby);

            {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
            if(data.login_status==1){
            {# 將 login 的 追蹤清單訊息載入#}
                setTimeout(function () {
                    track_goods_msg(data.login_track_goods)
                },50)
            }

        },'json')
        $('#goods_title a').text("Baby's" + ' > Shirt');
    }

    $('.goods_list_dd_shirt ul li').click(function () {
        var show_baby = '';
        show_baby += '<ul>'

        let Shirt_json = JSON.parse(Shirt_list.goods_msg)
        {# 點擊 男生 boy's#}
        if($(this).children().text()=="boy's"){
            $.each(Shirt_json,function (index,obj) {
                if(obj.fields.goods_gender=='M'){
                    show_baby += load_goods_chirdren_template(obj)
                }
            })
        }else if($(this).children().text()=="girl's"){
            $.each(Shirt_json,function (index,obj) {
                if(obj.fields.goods_gender=='F'){
                    show_baby += load_goods_chirdren_template(obj)
                }
            })
        }
        show_baby += '</ul>'
        $('#goods').html(show_baby);


        {# 根據 login 登入狀態,來改變追蹤清單顯示狀態#}
        if(Shirt_list.login_status==1){
        {# 將 login 的 追蹤清單訊息載入#}
            setTimeout(function () {
                track_goods_msg(Shirt_list.login_track_goods)
            },50)
        }


    })

{#===========================================================================#}

{# 加載 用戶購物車商品數據   #}
    load_user_cart_data()

{# 點擊 清除 跳轉回 /Baby 首頁#}
{#  重新整理頁面  #}
    function clear_filter() {
        location.href = '/Baby'
    }
</script>
{% endblock %}

