{# 繼承 index.html #}
{% extends 'index.html' %}

{# 載入 cart 樣式#}
{% block other_css %}
<!--  3.cart.css 樣式      -->
<link rel="stylesheet" type="text/css" href="/static/css/cart.css">
<!--  4.mobile_goods.css       -->
<link rel="stylesheet" type="text/css" href="/static/css/mobile_goods.css">
{#   5.引用 check_cart_goods.js 設置結帳互動 及頁面加載 #}
<script src="/static/js/check_cart_goods.js"></script>
<script src="/static/js/alert.js"></script>
{% endblock %}

{# 載入 cart 主體內容 #}
{% block wrapper_main %}
    <!-- ========================Shop_cart    begin ========================================= -->
    <a href="#top"></a>
    <div class="cart_main">
        <div class="cart_process">
        {#      (if submit send style get order_msg,css change)      #}
            <span class="process open" id="process_1" class="open">Check Your Cart<span class="arrow" {% if order_msg %} style="display: inline-block"{% endif %}></span></span>
            <span class="{% if order_msg %}process open{% else %} process{% endif %}" id="process_2">Pay and Send<span class="arrow" {% if order_msg %} style="display: inline-block"{% endif %}></span></span>
            <span class="{% if order_msg %}process open{% else %} process{% endif %}" id="process_3">Add Information<span class="arrow" {% if order_msg %} style="display: inline-block"{% endif %}></span></span>
            <span class="{% if order_msg %}process open{% else %} process{% endif %}" id="process_4">Order Complete</span>
        </div>
        <!--  cart_goods_container          -->
        <div class="cart_goods_container">
            <!--  設置表單 form 將 填寫頁面的內容訂單資訊 傳送給後端 -->
            <form action="/shop_cart/" method="post" id="cart_frm" >
                {% csrf_token %}
            <!--  按照流程 設置 頁面                  -->
                <div class="cart_goods_list">
                        <!-- 1. cheack cart _ goods_list (if submit send style get order_msg,css change)-->
                        <ul class="cart_goods_info" id="cart_goods_info" style={% if order_msg%} display:none;{% else %}display:block;{% endif %}>
                        </ul>
                        <!-- 2. pay and send                 -->
                        <ul class="cart_pay_send" style="display:none;">
                        </ul>
                        <!-- 3. add information -->
                        <div class="add_infomation" style="display: none;">
                        <!--      總計金額顯示 -->
                            <h3> 本次消費累計 NT$:
                                <span class="pay_goods_price"></span>
                            </h3>
                            <h4> 總計 <span class="pay_goods_amount"></span> 件商品 </h4>
                            <ul class="add_information_text">
                                <h2> 收件人資訊</h2>
                                <li>
                                    <b>收件人姓名</b>
                                    <input type="text" name="recipient_name" placeholder="請輸入收件人姓名" maxlength="10">
                                </li>
                                <li>
                                    <b>收件人手機</b>
                                    <input type="text" name="recipient_phone_number" placeholder="請輸入收件人電話" maxlength="15">
                                </li>
                                <li>
                                    <b>收件人地址</b>
                                    <input type="text" name="recipient_address" placeholder="請輸入收件地址" maxlength="20">
                                </li>
                            </ul>
                        </div>
                        <!-- 4. Order Complete                -->
                        <div class="order_complete" style="{% if order_msg%} display:block;{% else %}display:none;{% endif %}">
                            <!--       pay_susess_img                         -->
                            <img src="/static/images/pay_sussess.jpg">
                            <!--  訂單訊息                              -->
                            <div class="Order_info">
                                <h3>已收到您的訂單</h3>
                                <h2>訂單編號為:
                                    <span class="order_no">{{order_number}}</span>
                                </h2>
                                <h3>可至會員中心查詢您的訂單紀錄</h3>
                            </div>
                            <div class="change_url_button">
                                <button type="button"><a href="/">返回首頁</a></button>
                                <button type="button"><a href="/login/user_member_center">前往會員中心</a></button>
                            </div>
                        </div>
                    <!-- 商品加總金額    (if submit send style get order_msg,css change)               -->
                        <div class="total_price_container" style="{% if order_msg%} display:none;{% else %}display:block;{% endif %}">
                            <table cellspacing="0" class="total_price_table">
                                <tr class="goods_price_total">
                                    <th>共
                                        <span class="cart_goods_amount"></span>
                                        件商品
                                    </th>
                                    <th>商品金額:</th>
                                    <th>
                                        NT$: <span class="cart_goods_total_price"></span>
                                    </th>
                                </tr>
                                <tr class="send_price">
                                    <th rowspan="2"></th>
                                    <th>運費:</th>
                                    <th>未選擇</th>
                                </tr>
                                <tr class="pay_total">
                                    <th>小計:</th>
                                    <th>
                                        NT$: <span class="total_count">
                                        </span>
                                    </th>
                                </tr>
                            </table>
                        </div>
{#                (if submit send style get order_msg,css change)#}
                <div class="cart_next_button" style="{% if order_msg %} display:none;{% else %}display:block;{% endif %}">
                    <button type="button" class="cart_back"><a href="/">繼續購物</a></button>
                    <button type="button" class="cart_next"><a href="#">下一步</a></button>
                    {#     先將送出按鈕鎖住  disabled    #}
                    <input type="submit" value="送出" class="send_info_to" disabled="disabled">
                </div>
            </div>
            </form>
            <!--  阻止頁面跳轉,重新整理              -->
{#            <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>#}
        </div>
    </div>

{#  如果 order_msg 不存在,則將購物車商品顯示出來(如果 order_msg 存在,表示訂單成功)   #}
{% if order_msg %}
    {#  讓頁面重整導向前一個 URL, 防止F5重新提交表單發生錯誤  #}
    <script type="text/javascript">
        if (window.history.replaceState){
                window.history.replaceState(null, null, window.location.href);
            }
    </script>
{% else %}
    <script type="text/javascript">
        load_check_goods_cart()
        load_pay_send_msg()
    </script>
{% endif %}

{% endblock %}
