{# 繼承模板 index.html #}
{% extends 'index.html' %}

{#  載入 shop_goods_detail 頁面 的 css      #}
 {% block other_css %}
<!--  3. 引入 shop_goods_detail.css 樣式修改      -->
<link rel="stylesheet" type="text/css" href="/static/css/shop_goods_detail.css">
<!-- 引用外部 mobile_goods 樣式       -->
<link rel="stylesheet" type="text/css" href="/static/css/mobile_goods.css">
{#   引入 自選擇彈框#}
 <script src="/static/js/alert.js"></script>
{#   設置 confirm 彈框  #}
 <script src="/static/js/confirm.js"></script>
{% endblock %}

    <!-- ========================Shop Nav  (PC Nav , mobile Nav)  end  =================   -->
{% block wrapper_main %}
<div class="wrapper">
<!--  shop detail 主體容器      -->
    <div class="goods_detail_main">
    <!--  shop detail 內容 box (small_img 、 deatil_img、 goods_desc)        -->
    {#  利用 for 結構渲染 點擊的 good_id 資訊   #}
    {% for i in goods_detial_info %}
        <div class="goods_detail_box">
        <!--  click small_img              -->
                <div clsss="goods_small_img">
                    {#  第一張商品圖一定存在,所以不用加判斷              #}
                    <ul class="other_goods_img_change">
                        <li>
                            <img src="/{{i.goods_color_img_1}}">
                        </li>
                    {#    以下做判斷,判斷 img 值是否存在,才新增 小圖的 li 元素 (根據管理者上傳的商品資訊)                #}
                        {% if i.goods_color_img_2 %}
                            <li>
                                <img src="/{{i.goods_color_img_2}}">
                            </li>
                        {% endif %}
                        {% if i.goods_color_img_3 %}
                            <li>
                                <img src="/{{i.goods_color_img_3}}">
                            </li>
                        {% endif %}
                        {% if i.goods_color_img_4 %}
                            <li>
                                <img src="/{{i.goods_color_img_4}}">
                            </li>
                        {% endif %}
                        {% if i.goods_color_img_5 %}
                        <li>
                            <img src="/{{i.goods_color_img_5}}">
                        </li>
                        {% endif %}
                    </ul>
                </div>
        <!--  goods_detail (img) float left-->
                <div class="goods_detail_img">
                    <img src="/{{i.goods_color_img_1}}">
                </div>
        <!--   goods_desc        -->
                <div class="goods_desc">
                    <!--  goods name -->
                    <h2>{{i.goods_title}}</h2>
                    <!--  goods price                          -->
                    <p class="goods_price">
                        NT$ : {{i.goods.price}}
                    </p>
                    <hr style="width: 100%">
                    <!--  shown goods color   -->
                    <p class="goods_shown">
                        Shown In {{i.goods_color}}
                    </p>
                    </p>
                {#  透過 form 表單 將用戶要購買的商品資訊傳給後端 #}
                    <form action="/shop_cart/add_goods_in_cart/" method="post" id="color_change_frm">
                    {% csrf_token %}
                    <div class="color_change">
                            {% for i in goods_color_infos %}
                                <div class="radio-group">
                                {#   利用 forloop.counter 給 id 值 #}
                                    <input type='radio' name='goods_filter' class="radio_input" value="{{i.goods_color}}" id={{forloop.counter}}>
                                    <div class="click_color_border">
                                        <label for={{forloop.counter}} class="radio-label" style="background: url('/{{i.goods_color_img}}') repeat-x left top;"><span class="radio-button"></span></label>
                                        <input type="hidden" class="goods_color" value="{{i.goods_color}}">
                                        <input type="hidden" class="goods_id" value="{{i.goods.id}}">
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                    {#  設置 hidden post 後端請求數據的時候可以接收到 用戶購買的商品 id,name #}
                    <input type="hidden" name="gid" value="{{i.goods.id}}">
                    <input type="hidden" name="goods_name" value="{{i.goods.title}}">
                    <input type="hidden" name="goods_price" value="{{i.goods.price}}">
                    <input type="hidden" name="goods_img_url" value="" id="goods_img_url">
                    <div class="size_click">
                        <p class="goods_size_content" style="text-align: left; margin-bottom: 5px;">Please Chose Your Size</p>
                        <ul class="size_ul">
                            {#   因為上面的 radio 會有衝突 所以這邊的 radio 設置 從 10開始 #}
                            <li>
                                <input type="radio" name="size" value="XXS" id="10">
                                <label for="10">XXS</label>
                            </li>
                            <li>
                                <input type="radio" name="size" value="XS" id="11">
                                <label for="11">XS</label>
                            </li>
                            <li>
                                <input type="radio" name="size" value="S" id="12">
                                <label for="12">S</label>
                            </li>
                            <li>
                                <input type="radio" name="size" value="M" id="13">
                                <label for="13">M</label>
                            </li>
                            <li>
                                <input type="radio" name="size" value="L" id="14">
                                <label for="14">L</label>
                            </li>
                            <li>
                                <input type="radio" name="size" value="XL" id="15">
                                <label for="15">XL</label>
                            </li>
                        </ul>
                    </div>
                    <hr style="width: 100%">

                <!--  goods_other_detail (size & fit 、 Detail & Material)-->
                    <p>
                        <b>GOODS OTHER DETAIL</b>
                    </p>
                    <div class="goods_other_detail-wrapper">
                <!--       size & fit  -->
                        <div class="goods_other_detail_list">
                            <button id="size_fit" class="size_fit" type="button">
                                Size & Fit
                                <div class="icon" style="float: right">
                                    <span class="detail_icon"></span>
                                </div>
                            </button>
                            <div class="detail_info">
                                <h3>Garment Measurements</h3>
                            <!--  goods_detail_size -->
                                <ul class="goods_detail_size_fit">
                                    <li>Short Inseam:
                                        <b>25"</b>
                                    </li>
                                    <li>Regular Inseam:
                                        <b>27"</b>
                                    </li>
                                    <li>Long Inseam:
                                        <b>29"</b>
                                    </li>
                                    <li>Front Rise:
                                        <b>10.625"</b>
                                    </li>
                                    <li>Leg Opening:
                                        <b>15"</b>
                                    </li>
                                </ul>
                                <hr>
                                <button class="look_size_fit_footer">
                                    <a href="#look_size_fit">View Size & Fit Guide</a>
                                </button>
                            </div>
                        </div>
                <!--      Detail & Material  -->
                        <div class="goods_other_detail_list">
                            <button id="detail_material" class="detail_meterial" type="button">
                                Detail & Material
                                <div class="icon" style="float: right">
                                    <span class="detail_icon"></span>
                                </div>
                            </button>
                            <div class="detail_info">
                                <h3>Details</h3>
                                <h4>MID RISE BOYFRIEND JEANS</h4>
                                <p class="goods_detail_content">
                                    Borrowed-from-the-boys style with the well-worn, well-loved feel of a vintage favorite.
                                    If you want a slightly looser fit, we recommend sizing up. Sitting right below the waist,
                                    with a relaxed silhouette and wider leg opening. Featuring a super light wash and clean hem.
                                    Rise 9.5 inches, leg opening circumference 13.75 inches. Imported.
                                </p>
                                <h5>Body:99% Cotton, 1% Elastane</h5>
                                <ul class="goods_detail_size_fit" style="list-style-type: disc">
                                    <li>To avoid color transfer, wash before wear, turn garment inside out</li>
                                    <li>Machine wash cold, with like colors</li>
                                    <li>Do not bleach</li>
                                    <li>Tumble dry low</li>
                                    <li>Warm iron if needed</li>
                                    <li>Do not dry clean</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 100%">
                <!--   購買數量表單、及點選新增到購物車按鈕  -->
                    <!-- 將 view 點擊跳轉錨點,設置在此處                       -->
                    <div class="add_cart_goods" id="look_size_fit">
                        <!--   設置 div 修改 select 樣式  -->
                            <div class="option">
                                <select name="goods_count" id = "goods_count">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                                <input type="submit" value="Add To Bag" id="send_goods_msg">
                            </div>
                    </div>
                    </form>
                </div>
        {% endfor %}
        </div>
        <hr style="width: 100%">
    <!--  click size & fit > button to view size & fit Guide >   -->
        <div class="size_fit_container">
            <div class="btn_view_size_fit_box">
                <!--  size to ul -->
                <div class="size_fit_detail">
                <!--  title name  -->
                    <h3>MID RISE BOYFRIEND JEANS</h3>
                <!--   model_info                 -->
                    <p class="model_info">
                        Model: 5'9" wearing Size 25
                    </p>
                    <ul class="size_fit_detail_ul">
                        <h4>Garment Measurements</h4>
                        <li>Short Inseam:
                                        <b>25"</b>
                                    </li>
                        <li>Regular Inseam:
                                        <b>27"</b>
                                    </li>
                        <li>Long Inseam:
                                        <b>29"</b>
                                    </li>
                        <li>Front Rise:
                                        <b>10.625"</b>
                                    </li>
                        <li>Leg Opening:
                                        <b>15"</b>
                                    </li>
                    </ul>
                </div>
                {% for i in goods_detial_info %}
                <div class="size_fit_background_img">
                    <img src="/{{i.goods_color_img_1}}">
                    {% if i.goods_color_img_2 %}
                        <img src="/{{i.goods_color_img_2}}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <!-- 1.  click(size & fit)                -->
            <!--  size 對照表(cm)              -->
            <div class="size_Control">
                    <!--  button 1.size 2.how to measure                  -->
                    <div class="size_Description">
                        <button class="btn_Description">Size & Fit</button>
                        <button class="btn_Description">How to measure</button>
                    </div>
                    <!--    click size (block size_table)                -->
                    <div class="size_table">
                        <!--  1.size - length                          -->
                        <h5>Trousers Length</h5>
                        <p>
                            There is a 2" (5cm) difference in inseam length between Extra Short/Short/Regular/Long.
                        </p>
                        <table class="size_length" cellspacing="0" border="1px">
                            <thead>
                                <tr>
                                    <th>Hometown</th>
                                    <th>Height(cm)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Extra Short</th>
                                    <th>below 152</th>
                                </tr>
                                <tr>
                                    <th>Short</th>
                                    <th>152 to 160</th>
                                </tr>
                                <tr>
                                    <th>Regular</th>
                                    <th>162 to 170</th>
                                </tr>
                                <tr>
                                    <th>Long</th>
                                    <th>172 and above</th>
                                </tr>
                            </tbody>
                        </table>
                        <!--  2.    XXS-XXL Jeans      -->
                        <h5>XXS-XXL Jeans</h5>
                        <p>
                            Sizes are designed to fit the following body measurements.
                        </p>
                        <table class="size_length" cellspacing="0" border="1px">
                            <thead>
                                <tr>
                                    <th>Hometown</th>
                                    <th>Your Waist(cm)</th>
                                    <th>Your Hips(cm)</th>
                                    <th>Curvy Jeans- Your Hips(cm)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>XXS</th>
                                    <th>58-61</th>
                                    <th>85-88</th>
                                    <th>90-93</th>
                                </tr>
                                <tr>
                                    <th>XS</th>
                                    <th>64-66</th>
                                    <th>90-93</th>
                                    <th>95-98</th>
                                </tr>
                                <tr>
                                    <th>S</th>
                                    <th>69-71</th>
                                    <th>95-98</th>
                                    <th>100-103</th>
                                </tr>
                                <tr>
                                    <th>M</th>
                                    <th>74-76</th>
                                    <th>100-103</th>
                                    <th>105-108</th>
                                </tr>
                                <tr>
                                    <th>L</th>
                                    <th>80-85</th>
                                    <th>107-112</th>
                                    <th>112-117</th>
                                </tr>
                                <tr>
                                    <th>XL</th>
                                    <th>90-97</th>
                                    <th>117-123</th>
                                    <th>122-128</th>
                                </tr>
                                <tr>
                                    <th>XXL</th>
                                    <th>103-109</th>
                                    <th>130-136</th>
                                    <th>135-141</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 2.  click(How to measure )             -->
                    <div class="how_to_measure">
                        <p>
                            Our size charts are based on the measurements below.
                            Use a tape measure and these guidelines to determine your size.
                            A friend might come in handy to help you with measuring.
                            If you don’t have a tape measure, you can use a piece of string or ribbon and then measure it with a ruler.
                            Please note: garments may vary due to design and manufacturing differences.
                        </p>
                        <img src="/static/images/Woman/woman-new_arrival/woman_new_arrival_1_Mid%20Rise%20Boyfriend%20Jeans/woman_arrival_2_detail.png">
                    </div>
            </div>
        </div>
    </div>

    <hr style="width: 95%;">
</div>
<!-- user-cart-box , Your cart 樣式   ==================begin===============   -->
<div></div>
<div class="user-cart-box">
    <h4>Your Cart</h4>
<!--  設置購物車內的清單          -->
    <div class="user-cart-list">
        {#  購物車商品清單      #}
        <div class="user_cart_goods">
            <ul class="insert_cart_goods" id="insert_cart_goods">
                {#  加入 csrf_token 讓 post 通過請求 user_cart 的數量 #}
                {% csrf_token %}
            </ul>
        </div>
    </div>
    <!--   結帳  -->
    <div id="buy_goods" style="display: none">
        <button><a href="/shop_cart">Checkout</a></button>
    </div>
    <!-- user cart-list  open and close       -->
    <div class="open-close">
        <span class="open-triangle"></span>
    </div>
</div>
<!-- user-cart-box , Your cart 樣式   ==================end===============   -->

{#  根據點擊的顏色透過 ajax 去查找相關的商品圖片  #}
{# 表單提交判斷 ,radio (顏色 、size、不可以為空值)#}
<script type="text/javascript">
    $('#color_change_frm').submit(function (event) {
        event.preventDefault()
        let goods_name_1 = $('input[type="hidden"][name="goods_name"]').val();
        let img = $('.other_goods_img_change li img').attr('src');

        {# 獲取點擊的顏色值和 小圖路徑 傳給確認框 #}
        let goods_color = $('input[type="radio"][name="goods_filter"]:checked').val();
        let goods_img_color = $('input[type="radio"][name="goods_filter"]:checked').next('.click_color_border').children('.radio-label').css('backgroundImage');

        let goods_size = $('input[type="radio"][name="size"]:checked').val();

        let price = $('input[type="hidden"][name="goods_price"]').val();
        let goods_amount = $('#goods_count').val();

         {#將錯誤提示框資訊 傳入 alert 中#}
        if (goods_color == null) {
            alert('請選擇顏色!', errmsg = 3);
            return false
        }else if (goods_size == null) {
            alert('請選擇尺寸!', errmsg = 3);
            return false
        }

        {# 重新設置 表單對象,讓用戶點選確認後可以執行,表單提交#}
        let frm = this
        {# 獲取自定義確認框的值,之後再動作 #}
        confirm(img, goods_name_1, price, goods_color ,goods_size, goods_amount,goods_img_color,function (res) {
            if(res.status){
                {# 將 hidden 的值修改為 , 用戶點選的顏色圖片,在將表單交出#}
                $('#goods_img_url').val(img);
                frm.submit();
            }
            return false
        })
        return false
    })

{# 加載 用戶購物車商品數據   #}
    load_user_cart_data()
</script>
{% endblock %}
