{% extends 'index.html' %}



{% block other_css %}
    {# 導入 user_login_member.css 樣式   #}
    <link rel="stylesheet" type="text/css" href="/static/css/user_login_member.css">
    {# 導入 user_login_member_center 樣式 #}
    <script src="/static/js/user_login_member_center.js"></script>
{% endblock %}

{% block wrapper_main %}
    <div class="wrapper_main">
        <h1>會員中心</h1>
        <div class="user_member_content">
            {#   user chose_list click #}
            <div class="user_member_chose_content">
                <div class="user_member_list_content">
                    <ul class="user_member_chose_list">
                        <h2>會員功能查詢</h2>
                        <li>
                            <a href="javascript:New_Arrival_goods()">新品查看</a>
                        </li>
                        <li>
                            <a href="javascript:user_member_msg()">會員資料查詢</a>
                        </li>
                        <li>
                            <a href="javascript:update_user_member_msg()">修改會員資料</a>
                        </li>
                        <li>
                            <a href="javascript:user_track_goods_msg()">追蹤商品清單查詢</a>
                        </li>
                        <li>
                            <a href="javascript:user_order_msg()">訂單紀錄查詢</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user_msg_content">
                {#  1. 新上架商品顯示 第一次點擊會員中心,將近期新品的資訊 顯示出來(尚未點擊會員功能)  #}
                <div class="user_new_goods_msg" style="display: block;">
                    <h2>New Arrival:</h2>
                    {#  women's                  #}
                    <h3>Women's</h3>
                    <ul class="user_new_goods_msg_list">
                        {% for i in women_goods_msg %}
                        <li>
                            <p>
                                <a href="/shop_goods_detail?GOODS_ID={{i.id}}">
                                    <img src=/{{i.Images_url}}>
                                </a>
                            </p>
                            <div class="content">
                                <p class="goods_desc">
                                    <b>{{i.title}}</b>
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr style="clear: both;width: 80%">
                    {#   men's  #}
                    <h3>Men's</h3>
                    <ul class="user_new_goods_msg_list">
                        {% for i in men_goods_msg %}
                        <li>
                            <p>
                                <a href="/shop_goods_detail?GOODS_ID={{i.id}}">
                                    <img src=/{{i.Images_url}}>
                                </a>
                            </p>
                            <div class="content">
                                <p class="goods_desc">
                                    <b>{{i.title}}</b>
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr style="clear: both;width: 80%">
                    {#   kid's  #}
                    <h3>Kid's</h3>
                    <ul class="user_new_goods_msg_list">
                        {% for i in kid_goods_msg %}
                        <li>
                            <p>
                                <a href="/shop_goods_detail?GOODS_ID={{i.id}}">
                                    <img src=/{{i.Images_url}}>
                                </a>
                            </p>
                            <div class="content">
                                <p class="goods_desc">
                                    <b>{{i.title}}</b>
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr style="clear: both;width: 80%">
                    {#   baby's                 #}
                    <h3>Baby's</h3>
                    <ul class="user_new_goods_msg_list">
                        {% for i in baby_goods_msg %}
                        <li>
                            <p>
                                <a href="/shop_goods_detail?GOODS_ID={{i.id}}">
                                    <img src=/{{i.Images_url}}>
                                </a>
                            </p>
                            <div class="content">
                                <p class="goods_desc">
                                    <b>{{i.title}}</b>
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr style="clear: both;width: 80%">
                    {#  sport's              #}
                    <h3>Sport's</h3>
                    <ul class="user_new_goods_msg_list">
                        {% for i in sport_goods_msg %}
                        <li>
                            <p>
                                <a href="/shop_goods_detail?GOODS_ID={{i.id}}">
                                    <img src=/{{i.Images_url}}>
                                </a>
                            </p>
                            <div class="content">
                                <p class="goods_desc">
                                    <b>{{i.title}}</b>
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr style="clear: both; width: 80%">
                </div>
                {#  點擊 2.會員資訊查詢  #}
                <div class="user_member_msg" style="display: none">
                    {% csrf_token %}
                    <ul class="user_member_msg_list">
                    </ul>
                </div>
                {# 點擊 4.會員追蹤的商品  #}
                <div class="user_track_good_msg" style="display: none">
                    <ul class="user_track_goods_list">
                    </ul>
                </div>
                {#  點擊 5. 訂單記錄查詢          #}
                <div class="user_order_content">
                    <div class="user_order_search_content">
                        <h2>訂單記錄查詢 :</h2>
                        <div class="search_hit" style="width: 95%; margin: 10px auto 20px auto;" >
                                <h3 style="font-weight: bold; margin-bottom: 5px">查詢提示 :</h3>
                            <span style="display: block; font-weight: bold; margin-left: 15px; color: #0b273b;font-size: .7rem">1.若查詢訂單編號 ,可以不用輸入訂單日期。<span style="color: red">(查詢單筆訂單紀錄)</span></span>
                            <span style="display: block; font-weight: bold; margin-left: 15px; color: #0b273b;font-size: .7rem">2.若查詢訂單日期 ,可以不用輸入訂單編號。<span style="color: red">(查詢多筆訂單紀錄)</span></span>
                            <span style="display: block; font-weight: bold; margin-left: 15px; color: #0b273b;font-size: .7rem">3.若訂單內容有誤,且狀態尚未處理,可以點擊刪除訂單,重新購買下訂單。</span>
                        </div>
                        <form action="#" method="post" id="user_frm">
                            {% csrf_token %}
                            <div class="user_order_search_input_content">
                                訂單編號 : <input type="number" name="order_number" placeholder="訂單編號非必填" onfocus="this.placeholder=''" onblur="this.placeholder='訂單編號非必填'">
                                訂單日期 (起) : <input type="date" name="order_date_begin" value="2021-05-21">
                                訂單日期 (始) : <input type="date" name="order_date_end" value="2021-05-21">
                                <button type="button" class="send_order_msg_search" disabled="disabled" onclick="send_search_msg()">提交查詢</button>
                            </div>
                        </form>
                    </div>
                    <div class="user_search_order_info_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $('.user_track_good_msg').on('mousemove','.track_goods_msg_li',function () {
        $(this).children('.delete_track_goods_content').addClass('open');
    })
    $('.user_track_good_msg').on('mouseout','.track_goods_msg_li',function () {
        $(this).children('.delete_track_goods_content').removeClass('open');
    })


    {# 點擊 展開明細樣式改變#}
    $('.user_order_content').on('click','.user_click_order_detail_msg',function () {
        $(this).children().children('.triangle').attr('class') == 'triangle'?
            $(this).children().children('.triangle').addClass('open') && $(this).parent().children('.user_order_detail_list').slideDown():
            $(this).children().children('.triangle').removeClass('open') && $(this).parent().children('.user_order_detail_list').slideUp()
    })
</script>
{% endblock %}